<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miredo.model.mapper.UserMainMapper">

<select id="loginID" resultType="com.miredo.security.CustomUserDetails">
	select * from TB_USER where USER_NAME=#{username}
</select>

</mapper>