<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miredo.model.mapper.UserMailMapper">

	<resultMap type="com.miredo.model.dto.UserMailDTO" id="mailResultMap">
		<id property="no" column="MAIL_NO"></id>
		<result property="userId" column="USER_ID"/>
		<result property="mailSendDate" column="MAIL_SEND_DATE"/>
		<result property="mailTitle" column="MAIL_TITLE"/>
		<result property="mailContent" column="MAIL_CONTENT"/>
		<result property="mailUpdate" column="MAIL_UPDATE"/>
		<result property="mailDelete" column="MAIL_DELETE"/>
	</resultMap>
</mapper>