<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miredo.model.mapper.UserMailMapper">

	<resultMap type="com.miredo.model.dto.UserMailDTO" id="mailResultMap">
		<id property="no" column="MAIL_NO"></id>
		<result property="userId" column="USER_ID"/>
		<result property="mailWriteDate" column="MAIL_WRITE_DATE"/>
		<result property="mailSendDate" column="MAIL_SEND_DATE"/>
		<result property="mailTitle" column="MAIL_TITLE"/>
		<result property="mailContent" column="MAIL_CONTENT"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="replyWriteDate" column="REPLY_WRITE_DATE"/>
		<result property="replyDelete" column="REPLY_DELETE"/>
		<result property="mailUpdate" column="MAIL_UPDATE"/>
		<result property="mailDelete" column="MAIL_DELETE"/>
		
		<association property="user" resultMap="userResultMap"/> <!-- 회원 기본정보 -->
		<collection property="reply" resultMap="replyResultMap"></collection>
	</resultMap>
	
	<resultMap type="com.miredo.model.dto.ReplyDTO" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="no" column="MAIL_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="replyWriteDate" column="REPLY_WRITE_DATE"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="replyUpdate" column="REPLY_UPDATE"/>
		<result property="replyDelete" column="REPLY_DELETE"/>
	</resultMap>
	
	<resultMap type="com.miredo.model.dto.UserDTO" id="userResultMap">
		<id property="id" column="USER_ID"></id>
		<result property="password" column="USER_PASSWORD"/>
		<result property="name" column="USER_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="activeYn" column="ACTIVE_YN"/>
	</resultMap>
	
	<!-- 받은 메일 목록 -->
	<select id="selectReceivedMailList" resultMap="mailResultMap"> 
		SELECT MAIL_NO
			  ,MAIL_WRITE_DATE
			  ,MAIL_SEND_DATE
			  ,MAIL_TITLE
			  ,MAIL_CONTENT
		  FROM TB_MAIL
		 WHERE USER_ID = #{userId}
  	</select>
  	
  	<!-- 받은 메일 상세 조회 -->
  	<select id="selectRecivedMailDetail" resultMap="mailResultMap">
  		SELECT MAIL_NO
  			  ,MAIL_WRITE_DATE
  			  ,MAIL_SEND_DATE
  			  ,MAIL_TITLE
  		      ,MAIL_CONTENT
  		      ,REPLY_CONTENT
  		  FROM TB MAIL
  		 WHERE MAIL_NO = #{mailNo}
  	</select> 
  	
  	<!-- 보낸 메일 목록 -->
  	<select id="selectSendMailList" resultType="String">
  		SELECT MAIL_NO
  		 	  ,MAIL_WRITE_DATE
			  ,MAIL_SEND_DATE
			  ,MAIL_TITLE
			  ,MAIL_CONTENT
		  FROM TB_MAIL
		 WHERE USER_NAME = #{name}
  	</select>
	
	<!-- 보낼 메일 수정 -->
	<update id="updateSendMail">
		UPDATE FROM TB_MAIL
		   SET MAIL_WRITE_DATE = #{mailWriteDate}
		   	  ,MAIL_SEND_DATE = #{mailSendDate}
			  ,MAIL_TITLE = #{mailTitle}
			  ,MAIL_CONTENT = #{mailContent}
		 WHERE USER_ID = #{userId}
		   AND MAIL_NO = #{mailNo}
	</update>
	
	
	<!-- 답장 조회 -->
  	<select id="selectReplyDetail" resultMap="replyResultMap">
  		SELECT A.RPL_NO
  			  ,B.MAIL_NO
  			  ,A.RPL_DATE
  			  ,A.RPL_TITLE
  			  ,A.RPL_CONTENT
  		      ,A.RPL_DELETE
  		  FROM TB_REPLY A
  		  JOIN TB_MAIL B ON(A.MAIL_NO = B.MAIL_NO)
  		 WHERE A.RPL_DELETE = 'N'
  		   AND B.MAIL_NO = #{mailNo}
  	</select> 
	
	<!-- 답장 수정 -->
	<update id="updateReplyDetail">
		UPDATE FROM TB_REPLY
		   SET REPLY_WRITE_DATE = #{replyWriteDate}
		   	  ,REPLY_SEND_DATE = #{replySendDate}
			  ,MAIL_TITLE = #{mailTitle}
			  ,MAIL_CONTENT = #{mailContent}
		 WHERE USER_ID = #{userId}
		   AND MAIL_NO = #{mailNo}
	</update>
	
	<!-- 받은 메일 삭제 -->
	<update id="deleteRecivedMail">
		UPDATE FROM TB_MAIL
		   SET MAIL_DELETE = 'Y'
		 WHERE MAIL_NO = #{mailNo}
	</update>
	
	<!-- 보낸 메일 삭제 -->
	<update id="deleteSendMail">
		UPDATE FROM TB_MAIL
		   SET MAIL_DELETE = 'Y'
		 WHERE MAIL_NO = #{mailNo}
	</update>
	
</mapper>